.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 width:15rem;
 max-width: 50%;
 position: relative;
 background: #008080;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

strong{
  font-size: 1.4rem;
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #004F4F;
 z-index: -1;
}

.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}

.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #006868 transparent transparent transparent;
 bottom: -1em;
}

.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.non-semantic-protector { position: relative; z-index: 1; }

section h4{
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

html {
  font-size: 100%;
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,p{
  margin:0;
}

p{
  font-size: 1.125rem;
}

body.on-scroll .header {
  background-color: rgba(255,255,255, 0.8);
}

body.on-scroll .header__img{
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.container{
  margin:6.25rem auto 0;
}

.introduction{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../imgs/temp_background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  height:17rem;
}

.introduction__message{
  width:50%;
}

.introduction__message h2{
  padding: 0.5rem;
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}

.nora_img{
  border-radius: 50%;
  height: 12rem;
  padding: 0.5rem;
}

.about_me{
  padding:0.5rem;
  text-align:center;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_me__container{
  padding: 0.5rem;
  background-color: white;
  max-width: 90%;
}

.about_me h2{
  font-size: 2.5rem;
}

.about_me p{
  padding:0.5rem;
  font-size: 1.5rem;
}

.FAC{
  text-decoration: none;
  font-weight: bold;
  color:#0F368F;
}

.atags{
  text-decoration: none;
  font-weight: bold;
  color:#800060;
}

.atags:hover{
  color:#610049;
}

.FAC:hover{
  color:#051F59;
}

.about_me p{
  padding-top: 0.5rem;
  font-size: 1.3rem;
}

.info__text{
  text-align: center;
}

@media screen and (max-width:500px) {
  .nora_img{
    height:8rem;
  }
  .introduction__message p{
    font-size: 1.7rem;
  }
}
