body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.navbar{
  padding:.75rem;
  background-color: white;
  color: #051F59;
/*  position: fixed;
  width:100%;
  top:0;
  z-index: 50;*/
}


.navbar__list{
  list-style-type: none;
}

.navbar__list__item{
  display:inline;
}

.navbar__list__item a{
  text-decoration: none;
}

.introduction{
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: green;*/
  background-image: url("../imgs/temp_background2.jpg");
  /*Crate the parallax scrolling effect*/
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  padding: 1rem;
  height:17rem;
}

.introduction__message{
  width:50%;
}
.contact__icon{
  height: 5rem;

}
.contact__icon:hover{
  border-radius: 50%;
}
.introduction__message p{
  padding: 0.5rem;
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}



.nora_img{
  border-radius: 50%;
  height: 12rem;
  padding: 0.5rem;
}

.left{
  float:left;
}
.contact{
  background-color: #FFC551;
}

.contact__list{
  list-style-type: none;
}

.contact__list__item{
  display: inline;
}

.contact__list__item > a > img{
  height: 1.25rem;
}

.contact__list__item a:hover{
  color:orange;
}

footer{
  text-align: center;
  padding: 1.5rem;
  color: white;
  background-color: #008080;
}
